
     <div class="container">

      <div class="row"> </div>
      <h2 class="heading">Create Bill</h2>
    
  
      <div class="row"> 
        
        <div class="col-md-6">
          <div class="form-group"><i class="title">  <strong> Name </strong></i>
           
           <input type="text" name="name" [(ngModel)]="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Product Name">
           <i class="title"><b>Price</b> </i>
           <input class="form-control" name="price" [(ngModel)]="price" placeholder="Enter Price" type="number">
           <i class="title"><b>Enter %</b> </i>
           <input class="form-control" name="price" [(ngModel)]="percentage" placeholder="Enter Percentage" type="number">
           <i class="title"><b>Quantity</b> </i>
           <input class="form-control" name="price" [(ngModel)]="quantity" placeholder="Enter Quantity" type="number">
           <i class="title"><b>Deal</b> </i>
           <input class="form-control" name="price" [(ngModel)]="deal" placeholder="Enter Deal Amount" type="number">
          
          </div>
    
          <div class="row">
            <div class="col-md-6">
                <button class="btn btn-raised mr-1 btn-info button" routerLink="/cart">CheckOut</button>
    
            </div>
           <div class="col-md-3"></div>
    <div class="col-md-3 ">
        <button type="button" class="btn btn-raised mr-1 btn-success button" (click)="addProductToBill()" *ngIf="price!=null && percentage!=null && quantity!=null disabled" >Add</button>
      </div>
      </div>
        </div>
         <br>
         <br>
        
       <div class="col-md-6"> 
          <div class="input-group" >
              <div class="input-group-prepend">
                <span class="input-group-text padd1"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control padd" placeholder="Search" name="searchText" [(ngModel)]="searchText" >
            </div><table class="table">
        
          <thead>
              <tr class="table-head">
                  <th class="text-center">#</th>
                  <th> <b>Name</b></th>
                 
                  <th class="text-right"> <b>Price</b></th>
            
              </tr>
          </thead>
          <tbody  *ngFor="let item of prd;let i=index">
              
            
              <tr  *ngIf = "filterCondition(item)" class="items"  (click)="onItemClick(item)" >
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.name}}</td>
                  
                  <td class="text-right">{{item.price}}</td>
                  
              </tr>
              
          </tbody>
      </table></div>
      </div>
      
  
  </div>
  
     
  
     
      