
     <div class="container">

      <div class="row"> </div>
      <h2 class="heading">Enter New Day Sale And Profit</h2>
    
  
      <div class="row"> 
        
        <div class="col-md-6">
          <div class="form-group"><i class="title">  <strong> Sale</strong></i>
           
           <input type="number" name="sale"  [(ngModel)]="sale" placeholder="Add today Sale" class="form-control" id="exampleFormControlInput1" >
           <i class="title"><b>Profit</b> </i>
           <input class="form-control"name="profit"  [(ngModel)]="profit" placeholder="Add today Profit" type="number">
          </div>
    
          <div class="row">
            <div class="col-md-6">
                <button class="btn btn-raised mr-1  shadow-z-2 btn-danger main"  (click)="updateSale()">Update </button>
    
            </div>
            <div class="col-md-3">
        </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-raised mr-1 shadow-z-2 btn-info main" (click)="addSale()">Add </button>
      </div>
      </div>
      <div class="row">
          <div class="col-md-12">
             <hr> <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
             color:#009688 !important"> Add Manually</h4><hr>
          </div>
      </div>
        </div>
         <br>
         <br>
        
       <div class="col-md-6"> 
          <!-- <div class="input-group" >
              <div class="input-group-prepend">
                <span class="input-group-text padd1"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control padd" placeholder="Search" name="searchText" [(ngModel)]="searchText" >
            </div> --->
            <table class="table padd1">
        
          <thead>
              <tr class="table-head color">
                  <th class="text-center">#</th>
                  <th> <b>Sale</b></th>
                 
                  <th class="text-right"> <b>Profit</b></th>
                  <th class="text-right"> <b>Creation Date</b></th>
                  <th class="text-right"> <b>Actions</b></th>
                 
              </tr>
          </thead>
          <tbody  *ngFor="let item of prd;let i=index">
              
            
              <tr   class="items"    >
                  <td class="text-center">{{i+1}}</td>
                  <td>{{item.sale}}</td>
                  
                  <td class="text-right">{{item.profit}}</td>
                  <td class="text-right">{{item.date | date  :"medium"}}</td>
                  <td class="td-actions text-right">
                      
                      <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm" (click)="deleteSale(item)">
                          <i class="tim-icons icon-simple-remove"></i>
                          <i>Delete</i>
                      </button>
                      <button (click)="onItemClick(item)" type="button" rel="tooltip" class="btn btn-success btn-simple btn-icon btn-sm" >
                        <i class="tim-icons icon-simple-remove"></i>
                        <i>Update</i>
                    </button>
                     
                    
                  </td>
              </tr>
              
          </tbody>
      </table></div>
      </div>
      
  
  </div>
  
     
  
     
      



