<!-- <div class="row">
  <div class="col-md-5">
    <h1> Add Products</h1>
<form #employeeForm ="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="api.selectedEmployee.$key"> -->
<!-- <div class="form-group">
  <label>Name</label>
   <input class="form-control" name="name" #name="ngModel" [(ngModel)]="api.selectedEmployee.name" placeholder="Full Name" required>
</div>
<div class="form-group">
         <label>Salary</label>
       <div class="input-group">
         <div class="input-group-addon">
           <i class="fa fa-dollar"></i>
         </div>
         <input class="form-control" name="salary" #name="ngModel" [(ngModel)]="api.selectedEmployee.salary" placeholder="Salary">
      </div>
      </div>
      <div class="form-group">
      <button type="submit" class="btn-btn-default"[disabled]="!employeeForm.valid"> <i class="fa fa-floppy-o"></i> Submit</button>
      <button type="button" class="btn-btn-default" (click)="onDelete()" ><i class="fa fa-trash" ></i>Delete</button>
      <button  type="button" class="btn-btn-default" (click)="resetForm(employeeForm)"><i class="fa fa-repeat"></i>Reset</button>
      <button  type="button" class="btn-btn-default" (click)="resetForm(employeeForm)"><i class="fa fa-cab"></i>Update</button>


      </div>


</form>
    
  </div>


<div class="col-md-5">
  <li>View Products</li>
  <ul class="list-group hover">
  
    <li class="list-group-item " *ngFor="let employee of employeeList" (click)="onItemClick(employee)">
  
      {{employee.name}} - {{employee.position}} 
    </li>
  </ul>
</div>
</div>
 -->
